- content_for :page_title do
  = t('.title')

= simple_form_for @union_domain, url: admin_union_domains_path do |f|
  = render 'shared/error_messages', object: @union_domain

  -#%p.hint= t('.hint')

  = f.input :domain, placeholder: t('admin.union_domains.domain')
  = f.input :account, :collection => @accounts, :label_method => :username, :value_method => :id, placeholder: t('admin.union_domains.account')

  -#%p.hint= t('.severity.desc_html')

  -#= f.input :reject_media, as: :boolean, wrapper: :with_label, label: I18n.t('admin.domain_blocks.reject_media'), hint: I18n.t('admin.domain_blocks.reject_media_hint')

  .actions
    = f.button :button, t('.create'), type: :submit
