- content_for :page_title do
  #{site_hostname} 利用規約・プライバシーポリシー

.wrapper
  %h2 プライバシーポリシー

  %h3#collect どのような情報を収集するのですか？

  %p 私たちは、あなたがこのサイトに登録するか、ここで共有された情報を表示、投稿、評価するなどして、フォーラムに参加したとき、情報を収集します。

  %p このサイトに登録する際には、名前とメールアドレスの入力を求めることがあります。ただし、登録をすることなくこのサイトを利用することも可能です。あなたのメールアドレスは、固有のリンクを含んだメールで確認されます。そのリンクにアクセスした場合にメールアドレスがあなたのものであることを記録します。

  %p アカウントを登録し、投稿を行った際にはその投稿が行われたIPアドレスを記録します。また、このサーバーに対する全てのリクエストはIPアドレスを含むサーバーログとして保管されます。

  %h3#use 自分の情報を何に使うのですか？

  %p このサイトで収集された情報は、次のいくつかの方法で使用されます:

  %ul
    %li パーソナライズ・エクスペリエンス &mdash; あなたの情報は、あなたのニーズに対応するために役立ちます。
    %li サイトの改善・最適化 &mdash; このサービスはあなたから受け取った情報やフィードバックに基づいて提供されるサイトの改善を行いつづけます。
    %li サービスの向上 &mdash; あなたの情報は、ユーザーからの要求やサポートへより効果的に対応するために役立ちます。
    %li 定期メールの送信 &mdash; メールアドレスは、情報の送信、トピックの変更やユーザー名に関係する通知、お問い合わせに関する返答、その他のリクエストや質問に関して通知するために使用されます。

  %h3#protect 自分の情報はどのように保護されるのですか？

  %p このサービスはあなたが個人情報を入力、送信、またはアクセスする際に、あなたの個人情報の安全性を確保するために様々なセキュリティ対策をとっています。

  %h3#data-retention データ保持のポリシーはどのようになっていますか？

  %p このサービスはデータ保持に関して次のことを行うよう努めます。:

  %ul
    %li このサーバーへのすべての要求に対して、IPアドレスを含むサーバーログを90日以内に渡って保持します。
    %li 登録されたユーザーとその投稿に関連付けされたIPアドレスを5年以内に渡って保持します。

  %h3#cookies クッキーを使用していますか？

  %p はい。クッキーはサイトやサービス提供者からWebブラウザを介してコンピュータのストレージに転送される小さなファイルです(許可した場合)。これらのクッキーは、サイトでブラウザが識別され、登録済みのアカウントを持っている場合はそのアカウントに関連付けられます。

  %p クッキーは、今後再度閲覧した場合に前回のデータから設定を呼び出す際や、今後の改善のためにサイトの転送量やサイトの相互作用に関する集計データを作成する際に使用します。このサービスは、サイト閲覧者にわかりやすくするため、第三者のサービス提供者と契約することがあります。これらのサービス提供者は私たちの代理でこのサービスでの業務を行ったり、改善するためにこのサービスで収集された情報を使用することはできません。

  %h3#disclose このサイトは第三者に何らかの情報を開示していますか？

  %p 私たちは、個人を特定出来る情報を外部へ販売、譲渡、または他の方法で渡すことはありません。これには、このサイトを操作、業務の遂行、またはサービスを提供するのに役立つ信頼できる第三者は含まれません。法令遵守、サイトポリシーの施行、このサービスや他の人の権利、財産または安全の保護のために適切であると判断した場合に、あなたの情報を開示する場合があります。ただし、マーケティングや広告、その他の目的で個人を特定できない訪問者情報を第三者へ提供することができます。

  %h3#third-party サードパーティのリンク

  %p 私たちは必要に応じ、サイト上で第三者の製品またはサービスを提供することがあります。これらの第三者のサイトには、個別かつ独立したプライバシーポリシーがあります。したがって、私たちはこれらのリンクされたサイトに於けるコンテンツや活動には一切責任を負いません。ですが、サイトの完全性を維持するため、これらのサイトに関するフィードバックをお寄せください。

  %h3#coppa 児童オンラインプライバシー保護法(Children's Online Privacy Protection Act)

  %p
    このサイト、製品およびサービスは、すべて13歳以上の方を対象としています。このサーバーが米国にあり、あなたが13歳未満の場合は、COPPA
    = surround '(', '),' do
      = link_to 'Children\'s Online Privacy Protection Act', 'https://en.wikipedia.org/wiki/Children%27s_Online_Privacy_Protection_Act'
    (英語)に従い、このサイトを使用しないでください。

  %h3#online オンライン限定のプライバシーポリシー

  %p このオンライン・プライバシーポリシーは、このサイトを通じて収集された情報のみに適用され、オフラインで収集される情報には適用されません。

  %h3#consent あなたの同意

  %p このサイトを使用することにより、あなたはこのサイトのプライバシーポリシーに同意するものとします。

  %h3#changes プライバシーポリシーの変更

  %p プライバシーポリシーを変更する場合は、このページへ変更内容を掲載します。

  %p この文章のライセンスはCC-BY-SAです。このページは2017年5月8日が最終更新です。

  %p
    オリジナルの出典
    = succeed '.' do
      = link_to 'Discourse privacy policy', 'https://github.com/discourse/discourse'
